
  <link rel="stylesheet" type="text/css" href="assets/unique_ss/details_style.css"/>
    <div class="container">
            
            <ul>
                <li>
                   <p>Titlu: <%= @project.name %> </p>
                </li>
                <li>
                  <p>Materia : <%= @project.subject.name %> </p>
                </li>
                <li>
                  <p>Prioriate : <%= @project.priority%><p>
                </li>
                <li>
                    <p>Deadline : <script language="JavaScript">
                    TargetDate =<%=@project.deadline%>;
                    BackColor = "lightblue";
                    ForeColor = "navy";
                    CountActive = true;
                    CountStepper = -1;
                    LeadingZero = true;
                    DisplayFormat = "%%D%% Zile, %%H%% Ore, %%M%% Minute, %%S%% Secunde.";
                    FinishMessage = "Tema trebuia predata!!!";
                                  </script>
                    </p>
                   <script language="JavaScript" src="http://scripts.hashemian.com/js/countdown.js"></script>
                </li>
                <li>
                  <p>Enunt: 
                </i>
            </ul>
            <p style="text-indent: 5em";>
             Enunt   : 
             </p>
    </div>

    <%= form_tag ({:controller => "tasks", :action => "create"}), ({:method => "POST"}) do %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= hidden_field_tag :project_id, @project.id %>
      <%= text_field_tag :description %>
      <%= submit_tag %>
    <% end %>
    
    
